<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link href="css/bootstrap.min.css" rel="stylesheet">
   <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <br>
    <div class="container feed-container">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div> class="col-sm-6"-->

        <div >
            <div class="panel-body">
              <% if(isAuthenticated){ %>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <form class="feed-form form-horizontal" action="/feed/create" method="post">
                        <textarea style="resize:none;"class="form-control" width=70% rows="3" id="body" name="body" placeholder="<%= user.name%>님의 생각을 나눠주세요!"></textarea>
                        <hr>
                        <input type="hidden" name = "author" value = "<%=user._id%>">
                        <input type="hidden" name = "feednumber" value = "<%=feednumber%>">
                        <a class='btn' onclick = 'imgInsert()'>이미지 삽입</a>
                        <button type="submit" class="btn btn-success pull-right">푸쉬!</button>
                      </form>
                      </div>
                    </div>

                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                  <%} else{ %>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <h2>샐러리안과 함께,</h2>
                            <h2>더 많은 기회와 소통하세요!</h2>
                            <p><a class="btn btn-success btn-lg" style="center" href="/login" role="button">로그인하고 시작하기</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%}%>
                </div>
                <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-default">
                      <div id = 'data' class="panel-body">
                        <!-- <% feed.forEach(function(feed) { %>
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <div class="container-fluid">
                                <a href="#"><%= feed.author.name %>, <%= feed.createdDate %></a>
                                <hr>
                                <p><%=feed.body%></p>
                              </div>

                            </div>
                          </div>
                        <% }) %> -->
                        <p id="demo"></p>
                        <div class = "panel panel-default" style = "
                        cursor: pointer;
                        text-align: center;">
                          <button onclick='loadDoc()' type="button">Request data</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <!-- <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

    <% include ../partials/footer %>
    <script type="text/javascript">
      var number = 0;
      //document.getElementById('reqester').onclick = loadDoc();

      function loadDoc() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("demo").innerHTML += textManager(this.responseText);
          }
        };
        xhttp.open("GET", "feed/get/"+number, true);
        xhttp.send();
        number++;
      }

      function textManager(text){
        if(text == 'noData'){

          return `<div class="panel panel-default">

                            <div class="panel-body">

                              <div class="container-fluid">
                                <p> No more data to show </p>
                              </div>

                            </div>

                          </div>`;
        }
        var author = 'No author';
        var createdAt = new Date();
        createdAt = Date.now();

        console.log(typeof text );

        var id = text.match(/"_id":".{24}",/);
        var id_real = id[0].substr(7,24);
        
        console.log(id[0]);
        console.log(id_real);

        text = text.substr(id[0].length+1);
        console.log(text);

        var body = text.match(/"body":".+","author"/);
        body = body[0].substr(8,body[0].length-18);
        console.log(body);
        body = body.replace(/\\r\\n/g,'<br>');
        console.log(body);
        text = text.substr(body.length);

        author = text.match(/"author":".{24}",/);
        author = author[0].substr(10,24);
        createdAt = text.match(/"createdAt":".+"/);
        createdAt = createdAt[0].substr(13,10);

        // var promiser1 = function(userId){
        //   return new Promise(function(res,rej){
        //     authorName = usernameFinder(userId, function(){
        //       res();
        //     });
        //   });
        // };

        // promiser1(author).then(function(){
        //   console.log('change');
        //   document.getElementById(author).innerHTML = authorName + ', ' + createdAt;
          
        // });

        var authorName = usernameFinder(author,id_real);
        
        value = `<div class="panel panel-default">

                            <div class="panel-body">

                              <div class="container-fluid">
                                <a href="users/`+author+`" id="`+id_real+`">`+authorName+`</a>
                                <b>`+createdAt+`</b>
                                <hr>
                                <p>`+body+`</p>
                              </div>

                            </div>

                          </div>`;

        return value;
        

        // [{"_id":"5a7ab78c0d5a901048af0f59","body":"노예를 하나 원해요","author":"5a7a9047c765b13d444fef9d","feednumber":1,"__v":0,"createdAt":"2018-02-07T08:23:40.876Z"}]
        // var list = [];
        // text.forEach(function(test){
        //   list.push(test._id);
        // })
        // return list;
      }

      function usernameFinder(userId, id){
        var username = 'user';

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
          if(this.readyState == 4 && this.status == 200){
            username = this.responseText;
            console.log(username);
            document.getElementById(id).innerHTML = username;
          }
        };
        xhttp.open("GET", "feed/getId/"+userId, true);
        xhttp.send();

        return username;
      }

      function imgInsert(){
        var input = prompt('Please input url of image','Input url here');
        var text = `<img src='`+input+`' alt="image not found">`;
        document.getElementById('body').innerHTML += text;
      }
      
    </script>

  </body>
</html>
