<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link href="css/bootstrap.min.css" rel="stylesheet">
   <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <br>
    <div class="container feed-container">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div> class="col-sm-6"-->

        <div >
            <div class="panel-body">
              <% if(isAuthenticated){ %>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <form class="feed-form form-horizontal" action="/feed/create" method="post">
                        <textarea style="resize:none;"class="form-control" width=70% rows="3" id="body" name="body" placeholder="<%= user.name%>님의 생각을 나눠주세요!"></textarea>
                        <hr>
                        <input type="hidden" name = "author" value = "<%=user._id%>">
                        <input type="hidden" name = "feednumber" value = "<%=feednumber%>">
                        <button type="submit" class="btn btn-success pull-right">푸쉬!</button>
                      </form>
                      </div>
                    </div>

                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                  <%} else{ %>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <h2>샐러리안과 함께,</h2>
                            <h2>더 많은 기회와 소통하세요!</h2>
                            <p><a class="btn btn-success btn-lg" style="center" href="/login" role="button">로그인하고 시작하기</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%}%>
                </div>
                <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-default">
                      <div id = 'data' class="panel-body">
                        <% feed.forEach(function(feed) { %>
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <div class="container-fluid">
                                <a href="#"><%= feed.author.name %>, <%= feed.createdDate %></a>
                                <hr>
                                <p><%=feed.body%></p>
                              </div>

                            </div>
                          </div>
                        <% }) %>
                        <div class = "panel panel-default" style = "
                        cursor: pointer;
                        text-align: center;">
                          <button onmouseover='loadDoc()' type="button">Request data</button>

                          <p id="demo">asdadsd</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <!-- <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

    <% include ../partials/footer %>
    <script type="text/javascript">
      var number = 0;
      //document.getElementById('reqester').onclick = loadDoc();

      function loadDoc() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("demo").innerHTML += textManager(this.responseText);
          }
        };
        xhttp.open("GET", "feed/get/"+number, true);
        xhttp.send();
        number+=2;
      }

      function textManager(text){
        value = text;
        arr = [];

        console.log(typeof(value));


        while(text.indexOf('},') > 0)
        {
          console.log('slicing');
          arr.push(text.slice(0,text.indexOf('},')));
          text = text.slice(text.indexOf('},')+2);
          console.log(text);
        }

        console.log(arr);

        // [{"_id":"5a772b9bab4c3d30281eff7c","body":"gjhj","author":"5a76c98726f2a33bf4b1ab4a","feednumber":0,"__v":0,"createdAt":"2018-02-04T15:49:47.180Z"},{"_id":"5a6a92ecc52ba60984e6752e","body":"d","author":"5a6680306468d615acf5e172","feednumber":0,"__v":0,"createdAt":"2018-01-26T02:31:08.183Z"},{"_id":"5a6681436468d615acf5e176","body":"f","author":"5a6680306468d615acf5e172","feednumber":0,"__v":0,"createdAt":"2018-01-23T00:26:43.402Z"},{"_id":"59a38d5d1bfdc72e1bf28171","body":"나나나","author":"59841704199e3818844089e6","feednumber":4,"__v":0,"createdAt":"2017-08-28T03:26:21.915Z"}]

        return value;
        // var list = [];
        // text.forEach(function(test){
        //   list.push(test._id);
        // })
        // return list;
      }
      
    </script>

  </body>
</html>
